/*I am just playing with ideas right now, as well as figuring out the best way to do things. Everything here is subject to change!*/

body {
  background-color: #f7f9fa;
}

.headerimage { opacity: 0.5;}
/*add a navigation element selector to add CSS box model to eventtually*/
ul {
  list-style-type: none;
} /*Make this a Nav UL class*/

nav li a {
  color: rgb(248, 52, 52);
}
h1,
h2,
h3 {
  color: rgb(248, 52, 52);
}
.h3 {
  font-style: italic;
}
.span {color:blue}
